# Note: These are dependencies of famnit-gym package
numpy>=1.21.0
gymnasium>=1.0.0
pettingzoo>=1.24.0

# Visualization
matplotlib>=3.5.0

# Video recording (for Video wrapper)
imageio-ffmpeg>=0.4.8

# Testing
pytest>=7.0.0

# IMPORTANT: 
# the famnit-gym package is used for the game environmen
# installation instructions can be found in the README.md file.
